{% extends "base.html" %}

{% block content %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <h1 style="margin-top: -120px;">Log In</h1>
            <hr class="star-light">
        </div>
        <div class="login-card">
            <p class="profile-name-card"> </p>
            <form class="form-signin" action="{{ url_for('login')}}" method="post">
                <input class="border rounded border-primary form-control" type="text" name="username" id="inputEmail" required="" placeholder="username" autofocus="">
                <input class="border rounded border-primary form-control" type="password"
                    name="password" id="inputPassword" required="" placeholder="Password">
                <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit" style="background-color: rgb(24,188,156);">Sign in</button>
            </form>
                <a class="forgot-password" href="register.html" style="color: rgb(24,188,156);">Don't have an account? Register here.</a></div>
    </header>
{% endblock %}